{
  "env": {
    "jest": true,
    "es6": true,
    "node": true,
    "browser": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "react",
    "@typescript-eslint",
    "prettier",
    "react-hooks",
    "jsx-a11y",
    "simple-import-sort"
  ],
  "extends": [
    "airbnb-typescript",
    "plugin:prettier/recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": ["draft"]
      }
    ],
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "no-underscore-dangle": "off",
    "sort-imports": "off",
    "import/order": "off",
    "import/no-unresolved": ["off"],
    "import/prefer-default-export": ["off"],
    "no-unused-expressions": [
      "warn",
      {
        "allowShortCircuit": true,
        "allowTernary": true
      }
    ],
    "react/jsx-props-no-spreading": [
      "error",
      {
        "exceptions": ["Component"]
      }
    ],
    "react/react-in-jsx-scope": "off",
    "react/prop-types": 0,
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [".jsx", ".tsx"]
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "off"
  }
}
