{
  "env": {
    "jest": true,
    "es6": true,
    "node": true,
    "browser": true
  },
  "plugins": [
    "react",
    "@typescript-eslint",
    "prettier",
    "react-hooks",
    "jsx-a11y"
  ],
  "extends": [
    "airbnb-typescript",
    "plugin:prettier/recommended",
    "prettier/react",
    "prettier/@typescript-eslint"
  ],
  "rules": {
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": [
          "draft"
        ]
      }
    ],
    "import/no-unresolved": [ "off"],
    "import/prefer-default-export": [
      "off"
    ],
    "no-unused-expressions": [
      "warn",
      {
        "allowShortCircuit": true,
        "allowTernary": true
      }
    ],
    "react/jsx-props-no-spreading": [
      "error",
      {
        "exceptions": [
          "Component"
        ]
      }
    ],
    "react/react-in-jsx-scope": "off",
    "react/prop-types": 0,
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [
          ".jsx",
          ".tsx"
        ]
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "off"
  }
}