.lazy-image--wrapper {
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: contain;
    object-position: center;
  }
}

.lazy-image--source {
  opacity: 0;
  transition: opacity 1s;
}
.lazy-image--loaded {
  opacity: 1;
}

.lazy-image--blurred {
  filter: blur(5px);
}