/*
    Components: Titles
    ---
    Title styles
*/

.c-title-page {
    margin: 0;
    color: palette(color-neutral, xx-dark);
    text-transform: uppercase;
    font-weight: 700;
  
    @include mq(bp3) {
        font-size: #{$ms8 / $alpha-font-size}rem;
        line-height: 1.2;
    }
  
    @include mq(bp4) {
        font-size: #{$ms9 / $alpha-font-size}rem;
        line-height: 1.2;
    }
  }
  
  .c-title-section {
      @include mq(bp4) {
        margin-bottom: 3rem;
      }
  }
  