/*
    Components: Row
    ---
    Creates a horizontal row with padding
*/

.c-row {
    position: relative;
    padding: 1.5rem 1.5rem 0;
  
    @include mq(bp3) {
      padding: 3rem 3rem 1.5rem;
    }
  }
  
  // Row sizes
  
  .c-row--sm {
    @include mq(bp3) {
      padding: 1.5rem 3rem 0;
    }
  }
  .c-row--lg {
    @include mq(bp5) {
      padding: 6rem 3rem 4.5rem;
    }
  }
  
  .c-row--flush {
    padding: 0;
  }
  
  .c-row--sticky {
    position: sticky;
    top: 0;
  }

  // Row backgrounds
  
  .c-row--alpha {
    background-color: palette(color-neutral, x-light);
  }
  
  // Row overflowing
  
  .c-row--overflow {
    overflow: hidden;
  }
  
  