/*
    Components: Album
    ---
    Album component.
*/
  
  .c-album {
    text-align: center;
  }

  .c-album-header {
    z-index: 2;
    display: none;
    @include mq(bp3) {
      display: block;
    }
  }

  .c-album-mobile-header {
    z-index: 2;
    display: block;
    @include mq(bp3) {
      display: none;
    }
  }

  .c-album--title {
    font-family: "Merriweather Sans", Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
    text-transform: uppercase;
    animation: fadein .5s;

    span {
      color: palette(color-neutral, base);
      display: block;
      font-size: .8rem;
      line-height: .8rem;
    }
  }

  .c-album--meta {
    font-family: "Merriweather Sans", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: .8rem;
    margin-bottom: 0;
    text-align: right;
    animation: fadein .5s;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  
  .c-album--photo-item {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  
    @include mq(bp5) {
      margin-bottom: 2rem;
    }
  }
  
  .lazy-load-image-background.blur {
    filter: blur(15px);
  }
  
  .lazy-load-image-background.blur.lazy-load-image-loaded {
    filter: blur(0);
    transition: filter 0.3s;
  }
  
  .lazy-load-image-background.blur > img {
    opacity: 0;
  }
  
  .lazy-load-image-background.blur.lazy-load-image-loaded > img {
    opacity: 1;
    transition: opacity 0.3s;
  }
  