/*
    Components: Masonry
    ---
    Masonry component & content.
*/

.c-masonry {
  padding: 0;
  list-style: none;
  margin: 0;
}

.c-masonry--item {
  width: 100%;
  cursor: pointer;

  box-shadow: 0 18px 36px -18px rgba(0, 0, 0, 0.33);
  transition: 0.3s cubic-bezier(0.44, 0.25, 0.62, 0.95);
  margin-bottom: 2rem;

  @include mq(bp3) {
    width: calc((100% / 3) - 2%);
    margin: 1%;
  }

  p {
    line-height: 15px;
    
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    color: white;
    position: absolute;
    
    transition: 0.3s cubic-bezier(0.44, 0.25, 0.62, 0.95);
    width: 100%;
    text-align: center;

    opacity: 1;
    padding: 10px;
    margin-top: -35px;
    font-size: .8em;
    font-family: "Merriweather Sans", Arial, Helvetica, sans-serif;
    
    @include mq(bp3) {
        opacity: 0;
      }
  }

  &:hover {
    transform: none;
    box-shadow: none;

    @include mq(bp3) {
      transform: translateY(-10px);
      box-shadow: 0 30px 60px -10px rgba(0, 0, 0, 0.3);
    }
  }

  &:hover p {
    opacity: 1;
  }
}

.c-masonry--loading {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(palette(color-neutral, xx-dark), 0.5);
  color: palette(color-neutral, light);
  padding: .3rem 0.5rem;
  font-size: .8em;
  border-radius: 8px;
}
