//
//  Default settings
//  ---
//
//  Global
//  ---
//  Colors
//  Modular scale
//  Font settings
//  UI (border-radius, -width, -style)
//  Z-indexes
//  Breakpoints
//  Grid
//  Increments
//  Animations
//
//  Element settings
//  ---
//  Page
//  Typography
//  Images
//  Forms
//  Tables
//
//  Object settings
//  ---
//  Grid
//  Media
//
//  Utilities
//  ---
//  Debug
//

// ---
// Colors
// ---

// Palette function > eg. palette(color-alpha,base)
@function palette($palette, $tone: 'base') {
    @return map-get(map-get($palettes, $palette), $tone);
}

// Palettes
$palettes: (
    color-neutral: (
        xx-light:                    #FFFFFF,
        x-light:                     #F2F0F4,
        light:                       #C9C5CE,
        base:                        #555555,
        dark:                        #222222,
        x-dark:                      #111111,
        xx-dark:                     #000000,
    ),
    color-alpha: (
        x-light:                     #CFFCEC,
        light:                       #A0F3D6,
        base:                        #3DF4B4,
        dark:                        #2ADD9F,
        x-dark:                      #21B581
    ),
    color-beta: (
        x-light:                     #FFF0F3,
        light:                       #FBB3BF,
        base:                        #FE7D94,
        dark:                        #5a9cb4,
        x-dark:                      #D91235
    ),
    color-error: (
        light:                       #FFF0F3,
        base:                        #D91235
    ),
    color-success: (
        light:                       #CFFCEC,
        base:                        #21B581
    ),
    color-notice: (
        light:                       #F2F0F4,
        base:                        #38234A
    )
);


// ---
// Modular scale
// ---

// A balanced typography scale
// based on http://modularscale.com/scale/?px1=16&px2=18&ra1=1.333&ra2=0

$ms-3:                   10; /* 0.625rem; */
$ms-2:                   11; /* 0.75rem; */
$ms-1:                   14; /* 0.875rem; */
$ms0:                    16; /* 1rem; */
$ms1:                    18; /* 1.125rem; */
$ms2:                    20; /* 1.25rem; */
$ms3:                    24; /* 1.5rem; */
$ms4:                    28; /* 1.75rem; */
$ms5:                    32; /* 2rem; */
$ms6:                    36; /* 2.25rem; */
$ms7:                    42; /* 2.625rem; */
$ms8:                    48; /* 3rem; */
$ms9:                    56; /* 3.5rem; */
$ms10:                   64; /* 4rem; */
$ms11:                   72; /* 4.5rem; */
$ms12:                   96; /* 6rem; */

// ---
// Font settings
// ---

$alpha-font-family:      'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$beta-font-family:       serif;

$alpha-font-size:        $ms0;

$alpha-font-weight:      400;
$beta-font-weight:       500;

$alpha-line-height:      1.5;

$alpha-leading:          1.5;
$beta-leading:           2;

// ---
// UI
// ---

$radius:                 0;
$border-width:           1px;
$border-style:           solid;


// ---
// Z-indexes
// ---

$z-indexes: (
    alpha:               1,
    beta:                2,
    gamma:               3,
    delta:               4,
    epsilon:             5
);

// ---
// Breakpoints
// ---

$breakpoints: (
    bp1:                 375 / 16 * 1em,  //Average phone portrait
    bp2:                 568 / 16 * 1em,  //Average phone landscape
    bp3:                 768 / 16 * 1em,  //Average tablet portrait
    bp4:                 1024 / 16 * 1em, //Average tablet landscape
    bp5:                 1180 / 16 * 1em, //Small desktop
    bp6:                 1440 / 16 * 1em, //Average desktop
    bp7:                 1680 / 16 * 1em  //Large desktop
);

// ---
// Grid
// ---

// 1 times the $alpha-font-size. It's calculated in rem in _tools.spacing.scss
$columns-gutter:                       .75;

// Define the amount of columns in the grid
$columns: (
    1,
    2,
    3,
    4,
    5,
    6
);

// ---
// Increments
// ---

$increments: (
    0:                              0,
    1:                              .5,
    2:                              1,
    3:                              1.5,
    4:                              2
);

// ---
// Animations
// ---

$animation-duration-alpha:              .1s;
$animation-duration-beta:               .2s;
$animation-duration-gamma:              .3s;
$animation-easing-alpha:                ease-in-out;
$animation-easing-beta:                 cubic-bezier(.68, -.55, .265, 1.55); // bouncy

// ---
// Page
// ---

$html-font-family:                      $alpha-font-family;
$html-font-weight:                      $alpha-font-weight;
$html-font-size:                        $alpha-font-size;
$html-line-height:                      $alpha-line-height;

$html-responsive-font-size:             true;
$html-responsive-font-breakpoint:       bp6;
$html-responsive-font-magnification:    112.5%;

$html-background-color:                 palette(color-neutral, xx-light);
$body-color:                            palette(color-neutral, xx-dark);

$body-font-smoothing:                   true;

$body-selection-background-color:       palette(color-neutral, base);
$body-selection-color:                  palette(color-neutral, xx-light);
$body-selection-text-shadow:            none;

// ---
// Typography
// ---

$h1-font-family:                        $alpha-font-family;
$h1-font-weight:                        $beta-font-weight;
$h1-font-size:                          $ms4;
$h1-line-height:                        1.5;
$h1-margin-bottom:                      $beta-leading;

$h2-font-family:                        $alpha-font-family;
$h2-font-weight:                        $beta-font-weight;
$h2-font-size:                          $ms4;
$h2-line-height:                        1.25;
$h2-margin-bottom:                      $alpha-leading;

$h3-font-family:                        $alpha-font-family;
$h3-font-weight:                        $beta-font-weight;
$h3-font-size:                          $ms3;
$h3-line-height:                        1.25;
$h3-margin-bottom:                      $alpha-leading;

$h4-font-family:                        $alpha-font-family;
$h4-font-weight:                        $beta-font-weight;
$h4-font-size:                          $ms1;
$h4-line-height:                        1;
$h4-margin-bottom:                      $alpha-leading;

$h5-font-family:                        $alpha-font-family;
$h5-font-weight:                        $beta-font-weight;
$h5-font-size:                          $ms1;
$h5-line-height:                        1;
$h5-margin-bottom:                      $alpha-leading;

$h6-font-family:                        $alpha-font-family;
$h6-font-weight:                        $beta-font-weight;
$h6-font-size:                          $ms1;
$h6-line-height:                        1;
$h6-margin-bottom:                      $alpha-leading;

$base-font-size:                        $alpha-font-size;
$base-line-height:                      1;
$base-margin-bottom:                    $alpha-leading;
$base-indent:                           2;

$blockquote-font-style:                 normal;
$blockquote-font-size:                  $ms3;
$blockquote-line-height:                1.25;
$blockquote-margin-bottom:              $alpha-leading;

$small-font-size:                       $ms-2;
$small-line-height:                     1;
$small-margin-bottom:                   $alpha-leading;

$horizontal-rule-border-width:          1px 0 0;
$horizontal-rule-border-style:          solid;
$horizontal-rule-border-color:          palette(color-neutral,light);

$horizontal-rule-margin-top:            0;
$horizontal-rule-margin-bottom:         $alpha-leading;

$link-transition:                       color $animation-duration-beta;

$link-decoration:                       underline;
$link-decoration--hover:                none;
$link-font-weight:                      $beta-font-weight;

$link-color:                            palette(color-neutral,xx-dark);
$link-color--visited:                   palette(color-neutral, xx-dark);
$link-color--hover:                     var(--league-color, palette(color-beta, dark));
$link-color--focus:                     palette(color-neutral);

$link-outline:                          0;
$link-outline--focus:                   thin dotted;

// ---
// Images
// ---

$img-max-width:                         100%;
$img-border:                            0;

// ---
// Forms
// ---

$fieldset-border:                       0;
$fieldset-margin-bottom:                $alpha-leading;

$legend-font-size:                      $alpha-font-size;
$legend-line-height:                    $alpha-line-height;
$legend-margin-bottom:                  $alpha-leading;

$label-font-size:                       $alpha-font-size;
$label-line-height:                     $alpha-line-height;
$label-margin-bottom:                   $alpha-leading;

$placeholder-font-family:               $alpha-font-family;
$placeholder-font-style:                italic;
$placeholder-color:                     palette(color-neutral, light);

$firefox-inner-border-fix:              true;

// ---
// Tables
// ---

$table-font-family:                     $alpha-font-family;
$table-align:                           left;

$caption-font-family:                   $alpha-font-family;
$caption-font-weight:                   $beta-font-weight;
$caption-align:                         center;
$caption-margin-bottom:                 $alpha-leading;
$caption-padding-bottom:                $alpha-leading;

// ---
// Grid
// ---

$grid-property:                         'flex';
$grid-max-width:                        map-get($breakpoints,bp5);
$grid-gutter:                           $columns-gutter;

// ---
// Media
// ---

$media-object-gutter:                   $columns-gutter;
$media-object-margin-bottom:            $alpha-leading;

// ---
// Media-embed
// ---

$media-embed-ratio:                     62.5%;
$media-embed-margin-bottom:             $alpha-leading;

// ---
// Debug
// ---

$debug-mode:                            false; // toggles the debug mode
